<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" >
        <a class="navbar-brand" href="#"><img src="./images/J(1).png" style="width: 50px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="bi bi-list text-white fs-2"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
              <div class="d-flex" role="search">
                    <a href="#" class="nav-link">Kezdőlap</a>
                    <a href="#" class="nav-link">Szerverek</a>
                    <a href="#" class="nav-link active">MerolX+</a>
                    <a class="nav-link bi bi-person-fill"></a>
              </div>
        </div>
  </div>
</nav>
